.margin{width: 1200px;margin: 0 auto;}

body{
	div#top{ height: 31px;background: #f8f8f8;border-bottom: 1px solid #ccc;box-sizing: border-box;
		div.margin{
			a.top-l{ display: block;float: left;margin-top: 9px;padding-left: 20px;background: url(imgs/star.png) no-repeat left; }
			div.top-r{ float: left;display: flex;margin: 0px 20px 0 553px; line-height: 31px; 
				a.login{ color: #f00; }
				div.user{
					a.client{ display: block;height: 30px;width: 68px;background: url(imgs/head.png) no-repeat 47px -226px; }
					ul{ display: none;position: absolute;height: 50px;width: 68px;border: 1px solid #900;border-top: none;font: 12px/16px "";color: #222;text-indent: 10px;
					}
					
					&:hover{
						ul{ display: block; }
						a.client{ color: #900;background: url(imgs/head.png) no-repeat 47px -248px;border: 1px solid #900;border-bottom: none; }
					}
				}
			}
			img{display: block;float: right;margin-right: 38px;}
		}
	}
	
	header{ height: 120px;
		div.margin{
			a.logo{margin-top: 20px;display: block;float: left;}
			div.search{float: left;margin-left: 100px;
				div.search-t{margin-top: 40px;display: flex;
					input.txt{background: url(imgs/search.gif) no-repeat left;height: 30px;width: 300px;border: 2px solid red;padding-left: 30px;}
					a.click{width: 50px;background: red;font:14px/30px "";color: #fff;text-align: center;}
					div.car{display: block;height: 30px;width: 140px;border: 1px solid #dad8d9;font:12px/30px "";color: #333;text-align: center;margin-left: 20px;background: url(imgs/smallimgs.gif) no-repeat 7px -423px;}
				}
				ul{ display: flex;margin-top: 5px;
					li{font:12px/24px "";color: #dad8d9;
						&:hover{ a{text-decoration: underline}}
					}
					li.active{ a{color: #f00;}}
					span{margin:5px 10px 0 10px;}
					span.active{color: red;}
				}
			}
			img.app{display: block;float: right;margin-right: 30px;margin-top: 20px;}
		}
	}
	
	nav{height: 40px;background: url(imgs/nav.png) repeat-x;border: 1px solid #000;
		div.margin{
			ul{ display: flex;position: relative;
				li{
					a{font: 16px/40px "";color: #fff;margin: 0 30px;}
					a.te{color: orangered;}
				}
				li.shop{background: url(imgs/shop.png) no-repeat left;margin-left: 5px;}
				li.active{
					&:hover{background: #fff;
						a.see{display: block;color: #000;border-bottom: 2px solid #000;}
						div.date{display: block;}
						div.man{display: block;}
						div.women{display: block;}
						div.clothes{display: block;}
					}
				}
				span{color: #212121;margin-top: 14px;}
				div.date{width: 124px;height: 160px;background: #fff;position: absolute;z-index: 2;top: 41px;display: none;
					a{display: block;height: 12px;width: 55px;font: 12px/28px "";color: #333;margin-top: 15px;
						&:hover{color: darkred;}
					}
				}
				
				div.man{width: 1390px;height: 303px;background: #fff;position: absolute;z-index: 2;top: 41px;left: -113px;justify-content: space-between;display: none;
					div{display: flex;flex-direction: column;margin-top: 26px;
						a{font: 14px/28px "";color: #615f5f;}
						a.te{font: 14px/32px "";color: #000;border-bottom: 1px dashed #615f5f;}
						a.hot{background: url(imgs/hot.png) no-repeat center;}
					}
				}
				
				div.women{width: 1390px;height: 303px;background: #fff;position: absolute;z-index: 2;top: 41px;left: -113px;display: flex;justify-content: space-between;display: none;
					div{display: flex;flex-direction: column;margin-top: 26px;
						a{font: 14px/28px "";color: #615f5f;display: block;width: 154px;}
						a.te{font: 14px/32px "";color: #000;border-bottom: 1px dashed #615f5f;}
						a.hot{background: url(imgs/hot.png) no-repeat 60px 6px;}
					}
					div.clo{margin-left: 213px;}
					div.parts{margin-right: 213px;}
					p a{width: 298px;height: 236px;background: url(imgs/hot.jpg) no-repeat center;display: block;margin: 24px 277px 0 0;}
				}
				
				div.clothes{width: 1390px;height: 303px;background: #fff;position: absolute;z-index: 2;top: 41px;left: -113px;display: flex;justify-content: space-between;display: none;
					div{display: flex;flex-direction: column;margin-top: 26px;
						a{font: 14px/28px "";color: #615f5f;display: block;width: 154px;}
						a.te{font: 14px/32px "";color: #000;border-bottom: 1px dashed #615f5f;}
						a.hot{background: url(imgs/hot.png) no-repeat 33px 6px;}
					}
					div.clo{margin-left: 213px;}
					div.parts{margin-right: 213px;}
					p a{width: 298px;height: 236px;background: url(imgs/hot.jpg) no-repeat center;display: block;margin: 24px 277px 0 0;}
				}
			}
		}
	}
	
	main{ width: 100%;height: auto;background: #f4f4f4;
		div.margin{
			div.title{ height: 27px;font: 12px/27px "";color: #000; }
			div.goods{ background: #fff;height: auto; 
				div.details{ display: flex;justify-content: space-between;padding: 10px 10px 0 10px;
					div.imgs{ 
						div.bigImg{ height: 450px;width: 480px;background: url(imgs/t1-g.jpg) no-repeat center;background-size: 480px 450px;}
						ul.smallImg{ display: flex;width: 402px;height: 82px;justify-content: space-between;margin-left: 10px;margin-top: 10px;
							li.t1{width: 71px;height: 71px;background: url(imgs/t1-g.jpg) no-repeat center;background-size: 71px 71px;}
							li.t2{width: 71px;height: 71px;background: url(imgs/t2.jpg) no-repeat center;background-size: 71px 71px;}
							li.t3{width: 71px;height: 71px;background: url(imgs/t3.jpg) no-repeat center;background-size: 71px 71px;}
							li.t4{width: 71px;height: 71px;background: url(imgs/t4.jpg) no-repeat center;background-size: 71px 71px;}
							li.t5{width: 71px;height: 71px;background: url(imgs/t5.jpg) no-repeat center;background-size: 71px 71px;}
							li#active{ border: 2px solid #222; }
						}
					}
					
					div.information{
						div.goodName{ width: 428px;height: 54px;font: 14px/20px "";color: #000;font-weight: bold;}
						div.goodPrice{ width: 416px;height: 58px;background: #f7f7f7;padding: 7px 6px;
							div.originalPrice{ width: 428px;height: 26px;font: 14px/26px "";color: #666;
								span{text-decoration: line-through;}
							}
							div.preferentialPrice{display: flex;font: 14px/26px "";color: #666;justify-content: space-between;
								span{font: 20px/32px "";color: #ec000f;margin-left: -36px;}
								p{width: 222px;height: 32px;background: url(imgs/tips.png) no-repeat -170px -42px;padding-left: 40px;font: 12px/32px "";color: #666;
									a{&:hover{color: darkred;text-decoration: underline;}}
								}
							}
						}
						div.tip1{width: 281px;height: 22px;font: 12px/22px "";color: #c40b11;margin: 10px 0 0 10px;}
						div.tip2{width: 428px;height: 32px;font: 12px/32px "";color: #666;border-top: 1px dashed #d5d5d5;border-bottom: 1px dashed #d5d5d5;display: flex;margin-top: 10px;
							div{width: 214px;text-align: center;}
							span{color: #d5d5d5;}
							s{color: red;}
						}
						div.select{font: 12px/14px "";color: #000;margin: 20px 0 0 10px;}
						div.tip3{width: 56px;height: 56px;margin: 5px 0 0 10px;cursor: pointer;border: 2px solid darkred;position: relative;
							img{display: block;width: 56px;height: 56px;}
							i{display: block;width: 13px;height: 13px;background: url(imgs/tips.png) no-repeat -207px 0;position: absolute;left: 43px;top: 43px;}
						}
						div.collect{ margin-top: 20px;display: flex;
							a.f3{display: block;width: 142px;height: 33px;border: 1px solid #d5d5d5;font: 14px/33px "";color: #666;background: url(imgs/tips.png) no-repeat -22px -39px;text-align: center;cursor: pointer;}
							a.f4{display: block;width: 142px;height: 33px;border: 1px solid #d5d5d5;font: 14px/33px "";color: #666;background: url(imgs/tips.png) no-repeat -22px -65px;text-align: center;cursor: pointer;margin-left: 10px;}
						}
						div.tip4{ margin-top: 10px;width: 428px;height: 34px;font: 12px/17px "";color: #000;
							span{color: #c20000;}
						}
						div.promise{ width: 428px;height: 28px;font: 12px/28px "";color: #000;display: flex;margin-top: 30px;
							i{width: 114px;padding-left: 28px;background: url(imgs/tips.png) no-repeat -194px -112px;cursor: pointer;&:hover{color: darkred;}}
							s{width: 114px;padding-left: 28px;background: url(imgs/tips.png) no-repeat -194px -147px;color: #000;cursor: pointer;&:hover{color: darkred;}}
							span{width: 114px;padding-left: 28px;background: url(imgs/tips.png) no-repeat -194px -183px;cursor: pointer;&:hover{color: darkred;}}
						}
					}
					div.addCar{ width: 212px;height: 461px;border: 1px solid #aaa;background: #fbfbfb;padding: 10px 5px 0 5px;
						span.size{font: 12px/20px "";color: #000;}
						ul{ display: flex;flex-wrap: wrap;
							li{height: 31px;font: 12px/31px "";color: #000;padding: 0 12px;text-align: center;background: #fff;border: 1px solid #e3e3e3;cursor: pointer;margin-left: 7px;margin-top: 10px;}
							li.te{width: 30px;height: 30px;background: url(imgs/tips.png) no-repeat  0 -100px;}
						}
						span.quantity{font: 12px/30px "";color: #848484;margin-top: 20px;display: block;height: 30px;}
						div.f5{ border: 1px solid #B5B5B5;width: 50px;height: 18px;font: 14px/18px "";color: #000;display: flex;justify-content: space-between;margin-bottom: 30px;
							a.minus{width: 10px;height: 18px;text-align: center;border-right: 1px solid #B5B5B5;cursor: pointer;}
							a.plus{width: 10px;height: 18px;text-align: center;border-left: 1px solid #B5B5B5;cursor: pointer;}
							span{background: #fff;}
						}
						a.add{display: block;width: 196px;height: 42px;background-color: #c60001;font: 18px/42px "";color: #fff;margin: 0 auto;
							span{display: block;width: 196px;height: 42px;text-indent: 70px;background: url(imgs/tips.png) no-repeat -165px -267px;}
						}
						a.buyNow{display: block;width: 194px;height: 42px;background: #fff8de;border: 1px solid #f82;color: #f82;text-align: center;font: 18px/42px "";margin: 10px auto;}
						div.connect{ display: flex;
							a{display: block;width: 84px;height: 84px;border: 1px solid #f3f3f3;background: #f7f7f7;margin-left: 10px;span{display: block;width: 54px;height: 50px;font: 14px/18px "";color: #404040;margin: 20px auto;text-align: center;background: url(imgs/tips.png) no-repeat -60px -64px;}}
							div.code{ margin-left: 34px;
								img{display: block;width: 74px;height: 74px;}
								span{font: 12px/16px "";color: #404040;margin-left: 8px;}
							}
						}
						
					}
				}
				div.hot{ margin-top: 30px;
					ul{ display: flex;
						li{ width: 194px; margin: 0 20px;
							img{display: block;width: 192px;height: 164px;border: 1px solid #e5e5e5;}
							span{display: block;width: 194px;height: 20px;font: 12px/20px "";color: #9f9f9f;overflow: hidden;margin-top: 10px;}
							p{width: 192px;height: 20px;font: 16px/20px "";color: #222;font-weight: bold;text-align: center;}
						}
					}
				}
			}
			
			div.match{ display: flex;margin-top: 20px;background: #fff;position: relative;
				div.myshoe{ margin: 10px 0 0 10px;
					span.title{display: block;width: 234px;height: 26px;font: 18px/26px "";color: #343434;}
					img{display: block;width: 172px;height: 152px;border: 1px solid #e0e0e0;margin-top: 10px;}
					div.price{ display: flex;margin-top: 10px;
						div.tick{width: 16px;height: 16px;border: 1px solid #000;background: url(imgs/tips.png) no-repeat 1px -71px;}
						span{font: 16px/18px "";color: #000;margin-left: 10px;}
					}
				}
				span.and{display: block;width: 22px;height: 22px;font: 20px/22px "";color: #000;position: absolute;left: 216px;top: 114px;text-align: center;}
				div.part{ background: #f9f9f9;width: 680px;height: 210px;margin-left: 20px;margin-top: 10px;
					ul{ display: flex;justify-content: space-between;margin: 10px 20px 0 20px;
						li{
							img{display: block;width: 172px;height: 152px;border: 1px solid #e0e0e0;}
							div.myChoice{height: 18px;width: 172px;background: #fffdee;font: 12px/18px "";color: #8c8c8c;border: 1px solid #EDD28B;text-align: center;margin-top: 4px;display: none;}
							div.price{ display: flex;margin-top: 4px;
								div{ width: 14px;height: 14px;border: 1px solid #000;cursor: pointer; }
								span{ font: 16px/18px "";color: #000;margin-left: 10px; }
							}
						}
					}
				}
				div.total{ width: 200px;height: 198px;border-left: 1px solid #e0e0e0;margin: 20px 0 0 20px;display: flex;flex-direction: column;padding-left: 40px;
					b{font: 16px/24px "";color: #000;}
					u{font: 12px/30px "";color: #c60001;span{font: 16px/30px "";font-weight: bold;}}
					em{font: 12px/20px "";color: #a1a1a1;span{text-decoration: line-through;}}
					s{font: 12px/20px "";color: #a1a1a1;span{text-decoration: line-through;}}
					a.add{width: 115px;height: 30px;font: 12px/30px "";color: #fff;background: #c60001;margin-top: 20px;text-align: center;}
					a.buyNow{width: 113px;height: 28px;font: 14px/30px "";color: #ff8720;background: #fff8de;text-align: center;border: 1px solid #ffa101;margin-top: 10px;}
				}
			}
				
			article{ float: left;width: 968px;background: #fff;
				ul{ width: 968px;height: 28px;background: #f7f7f7;border-bottom: 3px solid #000;display: flex;padding-top: 10px;
					li{width: 115px;height: 27px;background: #fff;border: 1px solid #d5d5d5;border-bottom: none;font: 12px/27px "";color: #999;text-align: center;margin-right: 4px;cursor: pointer;}
					li.active{background: #000;color: #fff;margin-left: -1px;}
				}
				table{ width: 948px;height: 128px;margin-top: 10px;margin-left: 10px;
					tbody{ border: 1px solid #e2e2e2;border-bottom: none;
						tr{ border-bottom: 1px solid #e2e2e2;height: 26px;
							th{ width: 133px;font: 12px/26px "";color: #afafaf;background: whitesmoke;}
							td{ width: 175px;background: #fff;color: #000;}
							th.te{background: #fff;color: #000;}
							td.te{background: whitesmoke;font: 12px/26px "";color: #afafaf;text-align: center;}
						}
					}
				}
				div.tips{ width: 752px;height: 36px;font: 14px/21px "";color: #F33; margin: 20px auto;}
				div.photos{width: 750px;margin: 0 auto;
					img{ margin-top: 10px;}
				}
				div.reminder{ width: 750px;height: 35px;display: flex;margin: 30px auto;
					s{ width: 73px;height: 35px;font: 14px/21px "";color: #f53;}
					span{ width: 677px;height: 35px;font: 14px/21px "";color: #000;}
				}
			}
			aside{ float: right;width: 224px;background: #fff;
				ul.title{ width: 224px;height: 33px;border-bottom: 2px solid #000;font: 12px/32px "";display:flex;
					li{width: 110px;border: 1px solid #e5e5e5;color: #9a9a9a;text-align: center;border-bottom: none;cursor: pointer;}
					li.active{ background: #000;color: #fff;margin-left:-1px;position: relative;
						i{display: block;width: 11px;height: 8px;background: url(imgs/tips.png) no-repeat -3px -603px;position: absolute;left: 47px;top: 34px;}
					}
				}
				ul.hot{
					li{ margin: 20px auto;width: 194px;
						img{display: block;width: 192px;height: 164px;border: 1px solid #e5e5e5;}
						span{display: block;width: 194px;height: 20px;font: 12px/20px "";color: #9f9f9f;overflow: hidden;}
						p{ width: 194px;height: 20px;font: 16px/20px "";color: #222;text-align: center;
							s{font-weight: bold;color: #000;}
						}
					}
				}
				ul.recommend{ display: none;
					li{ margin: 20px auto;width: 194px;
						img{display: block;width: 192px;height: 164px;border: 1px solid #e5e5e5;}
						span{display: block;width: 194px;height: 20px;font: 12px/20px "";color: #9f9f9f;overflow: hidden;}
						p{ width: 194px;height: 20px;font: 16px/20px "";color: #222;text-align: center;
							s{font-weight: bold;color: #000;}
						}
					}
				}
			}
		}
	}
	
	
	div#list{ width: 100%;height: 243px;padding-bottom: 100px;background: #f4f4f4;padding-top: 30px;
		div.margin{ padding-top: 30px;border-top: 1px solid #e5e5e5;
			p{display: block;width: 136px;height: 34px;font: 14px/34px "";color: #000;text-align: center;background: #fff;cursor: pointer;&:hover{color: darkred;text-decoration: underline;}}
			ul{ display: flex;width: 1200px;background: #fff;padding-bottom: 20px;
				li{ margin:10px 10px;
					img{display: block;height: 144px;width: 170px;border: 1px solid #e0e0e0;}
					span{display: block;width: 176px;height: 28px;font: 12px/28px "";color: #000;text-align: center;overflow: hidden;}
				}
			}
		}
	}
	
	div#product_buy{ height: 50px;border-top: 1px solid #c0c0c0;display: flex;
		div.footprint{ width: 88px;height: 50px;background: url(imgs/tips.png) no-repeat 18px -438px;background-color: #999;}
		div.size{ margin-left: 10px; 
			span{ display: block;width: 35px;font: 12px/35px "";color: #404040;float: left;}
			ul{ float: left;width: 162px;height: 40px;display: flex;margin-top: 10px;
				li{ font: 12px/23px "";color: #000;border: 1px solid #e3e3e3;height: 23px;padding: 0 10px;margin-right: 10px;cursor: pointer;}
			}
		}
		a.helper{ width: 54px;height: 30px;background: url(imgs/tips.png) no-repeat  0 -100px;margin-top: 10px;}
		div.share{ display: flex;width: 220px;height: 22px;font: 12px/22px "";color: #999;background: url(imgs/tips.png) no-repeat -194px -220px;padding-left: 38px;margin: 17px 0 0 30px;
			a.sina{ width: 16px;height: 16px;background: url(imgs/ico_sina.gif) no-repeat center;margin:5px 0 0 10px;}
			a.QQ{ width: 16px;height: 16px;background: url(imgs/ico_qq.jpg) no-repeat center;margin:5px 0 0 5px;}
			a.q-zone{ width: 16px;height: 16px;background: url(imgs/qz_logo.gif) no-repeat center;margin:5px 0 0 5px;}
		}
		a.service{ width: 120px;height: 30px;font: 12px/30px "";color: #404040;background: url(imgs/tips.png) no-repeat 85px -300px;padding-left: 30px;margin: 10px 0 0 20px;border: 1px dashed #ccc;border-bottom: none;border-top: none;}
		div.phone{ width: 97px;height: 35px;font: 12px/30px "";color: #404040;background: url(imgs/tips.png) no-repeat 110px -506px;padding-right: 76px;margin: 10px 0 0 10px;}
		a.addCAR{ width: 180px;height: 50px;background: #c60001;margin-left: 28px;
			span{ font: 16px/50px "";color: #fff;padding-left: 64px;background: url(imgs/tips.png) no-repeat -165px -276px;}
		}
	}
	
	
	
	
	
	
	
	div#connection{ background: #e5e5e5;border-top: 1px solid #d8d8d8;width: 100%;height: 176px;padding: 12px 0;display: flex;justify-content: space-between;
		div.margin{
			div.title{ background: url(imgs/t4.png) repeat-x center;text-align: center;
				span{padding: 0 10px;font: 14px/24px "";color: #3d4246;background: #fff;}
			}
		}
		
		div.connection-l{ width: 380px;height: 176px;padding:0 10px;background: #fff;float: left;
			ul{ display: flex;width: 368px;justify-content: space-between;background: url(imgs/imgs.gif) no-repeat 15px 10px;margin-top: 10px;
				li{ text-align: center;padding-top: 112px;border: 1px solid #e0e0e0;width: 112px; }
			}
		}
		
		div.connection-c{width: 498px;height: 176px;padding: 0 6px;background: #fff;float: left;margin: 0 10px;
			ul{display: flex;justify-content: space-between;width: 498px;
				li{ width: 156px; 
					div.content{ border: 1px solid #e0e0e0;font: 12px/22px "";color: #000;padding: 14px 13px;height: 100px;width: 128px;margin-top: 10px; }
				}
			}
		}
		
		div.connection-r{width: 248px;height: 176px;padding: 0 10px;background: #fff;float: left;
			div.phone{width: 194px;height: 70px;font: 14px/22px "";color: #000;text-align: center;font-weight: 900;border: 1px solid #e0e0e0;padding: 32px 26px 26px;position: relative;margin-top: 10px;
				a{display: block;width: 126px;height: 34px;background: url(imgs/imgs.gif)  no-repeat -375px 0px;position: absolute;left: 57px;top: 60px;}
			}
		}
	}
	
	footer{ background: #000;height: 406px;position: relative;
		div.margin{
			div.server{ margin-top: 10px;
				ul{display: flex;justify-content: space-between;margin: 0 100px;padding-top: 10px;
					li{font: 16px/40px "";color: #fff;
						div.img1{background: url(imgs/imgs.gif) no-repeat 0 -136px;width: 32px;height: 40px;float: left;margin-right: 5px;} 
						div.img2{background: url(imgs/imgs.gif) no-repeat -32px -136px;width: 32px;height: 40px;float: left;margin-right: 5px;} 
						div.img3{background: url(imgs/imgs.gif) no-repeat -72px -140px;width: 32px;height: 40px;float: left;margin-right: 5px;} 
						div.img4{background: url(imgs/imgs.gif) no-repeat -104px -140px;width: 32px;height: 40px;float: left;margin-right: 5px;} 
					}
				}
			}
			
			ul.question{display: flex;justify-content: space-between;margin-top: 20px;
				li{width: 150px;height: 140px;padding-left: 22px;background: #111;display: flex;flex-direction: column;
					a.title{display: block;font: 16px/25px "";color: #666;font-weight: bold;margin: 6px 0 5px 0;}
					a{font: 12px/22px "";color: #a0a0a0;}
				}
				
				li.te{width: 280px;height: 140px;padding: 0 5px;color: #656565;background: #111;
					div.title{background: url(imgs/t4.png) repeat-x center;text-align: center;
						span{padding: 0 10px;font:16px/26px "";font-weight: bold;background: #111;}
					}
					a{width: 240px;height: 24px;font: 12px/24px "";overflow: hidden;text-indent: 15px;background: url(imgs/imgs.gif) no-repeat -250px -140px transparent;padding: 0 20px 0 14px;}
				}
			}
			
			ul.help{width: 520px;height: 40px;background: url(imgs/imgs.gif) no-repeat 0 -191px;margin:40px auto;
				li{height: 40px;width: 130px;float: left;
					a{display: block;height: 40px;width: 130px;}
				}
			}
			
			div.center{height: 25px;width: 100%;font: 12px/25px "";color: #666;padding-top: 10px;text-align: center;}
			div.bottom{height: 25px;font: 12px/25px "";color: #666;position: absolute;left: 378px;top: 380px;}
		}
	}
	
	div#menu{ width: 36px;height: 100%;background: #222;position: fixed;top: 0;right: 0;z-index: 1000;
	    li:hover{background: #dd030b;}
	
		li.num_one{height: 182px;
			div.ad{height: 182px;width: 80px;background: #222;position: fixed;top: 0;left: 1343px;z-index: 1000;}
		}
		
		li.num_two{
			div.img{background: url(imgs/smallimgs.gif) no-repeat 9px 5px;width: 37px;height: 34px;border-bottom: 1px solid #666666;cursor: pointer;}
			&:hover{
				div.img{background: url(imgs/smallimgs.gif) no-repeat -26px 5px;}
			}
		}
		
		li.num_three{border-bottom: 1px solid #666666;
			.img{width: 36px;height: 35px;background: url(imgs/smallimgs.gif) no-repeat 8px -24px;}
			&:hover{
				.img{background: url(imgs/smallimgs.gif) no-repeat -28px -24px;}
			}
			p{width: 16px;height: 48px;cursor: pointer;font: 12px/16px "";color: #fff;margin-left: 13px;}
			span{display: block;width: 21px;height: 21px;border-radius: 50%;background: #dd030b;text-align: center;color: #fff;line-height: 21px;margin: 9px 0 10px 9px;}
		}

		
		
		ul.menu-c{
			li{ margin-top: 10px; }
			div.remark{
				i{position: absolute;right: -5px;top: 15px;width: 5px;height: 9px;background: url(imgs/smallimgs.gif) no-repeat -2px -264px;}
			}
			
			li.num_four{
				div.img{width: 36px;height: 39px;background: url(imgs/smallimgs.gif) no-repeat 8px -165px;cursor: pointer;}
				&:hover{ div.img{background: url(imgs/smallimgs.gif) no-repeat -26px -165px;} }
				div.remark{width: 92px;height: 38px;border: 1px solid #999;font: 12px/38px "";color: #999;background: #fff;text-align: center;border-right: none;position: absolute;left: -121px;top: 351px;display: none;}	
			}
			
			li.num_five{
				div.img{width: 36px;height: 39px;background: url(imgs/smallimgs.gif) no-repeat 6px -103px;cursor: pointer;}
				&:hover{
					div.img{background: url(imgs/smallimgs.gif) no-repeat -28px -103px;}
				}
				div.remark{width: 92px;height: 37px;border: 1px solid #999;font: 12px/38px "";color: #999;background: #fff;text-align: center;border-right: none;position: absolute;left: -121px;top: 400px;display: none;}
			}
			
			li.num_six{
				div.img{width: 36px;height: 39px;background: url(imgs/smallimgs.gif) no-repeat 8px -340px;cursor: pointer;}
				&:hover{
					div.img{background: url(imgs/smallimgs.gif) no-repeat -28px -340px;}
				}
				div.remark{width: 92px;height: 37px;border: 1px solid #999;font: 12px/38px "";color: #999;background: #fff;text-align: center;border-right: none;position: absolute;left: -121px;top: 449px;display: none;}
			}
		}
		
		ul.menu-b{margin-top: 153px;
			li{margin-top: 10px;}
			li.num_seven{
				div.img{width: 36px;height: 39px;background: url(imgs/smallimgs.gif) no-repeat 7px -55px;cursor: pointer;}
				&:hover{
					div.img{background: url(imgs/smallimgs.gif) no-repeat -28px -55px;}
				}
				div.remark{width: 92px;height: 37px;border: 1px solid #999;font: 12px/38px "";color: #999;background: #fff;text-align: center;border-right: none;position: absolute;left: -121px;top: 641px;display: none;}
			}
			li.num_eight{
				div.img{width: 36px;height: 39px;background: url(imgs/smallimgs.gif) no-repeat 8px -304px;cursor: pointer;}
				img{position: absolute;top: 564px;left: -165px;display: none;}
				&:hover{
					img{display: block;}
				}
			}
			li.num_nine{
				div.img{width: 36px;height: 39px;background: url(imgs/smallimgs.gif) no-repeat 6px -200px;cursor: pointer;}
				&:hover{
					div.img{background: url(imgs/smallimgs.gif) no-repeat -28px -200px;}
				}
			}
		}
	}
	
	
	
	
	
}































































